
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="/courts">Courts</a>
    </li>
    <li class="breadcrumb-item active">Edit Court</li>
</ol>
<div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-sm-12">
              <div class="tab-content">
                <div class="tab-pane active" id="company" role="tabpanel">
                  <div class="col-sm-12 nopadding">
                    <div class="card">
                      <div class="card-block col-md-6">
                        <form [formGroup]="courtFrom" id="wrapped">
                            <div class="form-group">
                                <label for="chain-address">Select Sports</label>
                                <!-- <input type="number" class="form-control"  formControlName="FK_SportsId" id="Select_Sports" placeholder="Select Sports" > 
                                 -->
                                 <select class="form-control" formControlName="Sport_ID_FK">
                                    <option value="" disabled>Choose your sports</option>
                                    <option *ngFor="let sports of sportList" [ngValue]="sports.Sport_ID">{{sports.Sport_Name}}</option>
                                 </select>
                                </div>
                            <div class="form-group">
                            <label for="cvr">Court Name</label>
                            <div class="input-group">
                                <input type="text"  formControlName="CourtName" id="CourtName" placeholder="Enter Court Name" class="form-control" >                               
                            </div>
                            <!-- <small class="form-text text-muted text-danger">The CVR number is not correct. Please try again!</small> -->
                            </div>
                            <div class="form-group">
                                <label for="cvr">Template Name</label>
                                <div class="input-group">
                                    <input type="text"  formControlName="TemplateName" id="TemplateName" placeholder="Enter Template Name" class="form-control" >                               
                                </div>

                            </div>
                            <div class="form-group">
                                    <label for="cvr">Court Description</label>
                                    <div class="input-group">
                                        <input type="text"  formControlName="Court_Description" id="Court_Description" placeholder="Enter Court Description" class="form-control" >                               
                                    </div>
    
                                </div>
                            <div class="card-footer">
                                <button type="submit" (click)="updateCourt()" class="btn btn-sm btn-primary float-right">Update Court</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Wizard tabs ends -->
            </div>
          </div>
        </div>
      </div>
</div>

