<!-- admin-company-add.njk -->
{% extends "templates/layout.njk" %}


{% block meta %}
    {{ g.meta() }}
{% endblock %}

{% block content %}
	
	<!-- Breadcrumb -->
   <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="admin-companies.html">Companies</a></li>
        <li class="breadcrumb-item active">Add Company</li>
    </ol>
	
	<div class="container-fluid">
        <div class="animated fadeIn">
                    <div class="row">
						
						<div class="col-sm-12">
						
						
							<!-- Wizard tabs start 
							<ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link " data-toggle="tab" data-target="#company" role="tab" aria-controls="company">Company information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" data-target="#admins" role="tab" aria-controls="admins">Company admins</a>
                                </li>
                            </ul>
							-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="company" role="tabpanel">
									<!-- Company Setup Tab -->
									<div class="col-sm-12 nopadding">
										<div class="card">
											
											<div class="card-block col-sm-6">
											
												<div class="form-group">
													<label>CVR Number</label>
													<div class="input-group">
														<input type="text" placeholder="Enter CVR number to verify"  class="form-control">
														<button class="btn btn-sm btn-primary">Verify CVR nr.</button>
													</div>
												</div>
												
												<div class="input-group form-group">
													<div class="input-group-addon"><input class="form-check-input" type="checkbox" value=""> <label>Add to a chain</label></div>
													<input type="text" class="form-control"  placeholder="Enter chain name" list="chains" >
													<datalist id="chains">
														<option>Coop amba</option>
														<option>Dagrofa</option>
														<option>Dansk Supermarked A/S</option>
													</datalist>
													
												</div>
												
												<div class="form-group">
													<label for="company-name">Company Name</label>
													<input type="text" class="form-control" id="company-name" placeholder="Enter company name">
												</div>

												<div class="form-group">
													<label for="company-address">Address</label>
													<input type="text" class="form-control" id="company-address" placeholder="Enter full address" >
												</div>

												<div class="form-group">
													<label for="bank-account-nr">Bank Account Nr.</label>
													<span class="badge badge-default badge-pill float-right">Optional</span>
													<input type="text" id="bank-account-nr" placeholder="Enter account number" class="form-control">
												</div>
												
												<div class="form-group">
													<label for="company-email-address">Email Address</label>
													<input type="email" class="form-control" id="company-email-address" placeholder="Enter email address for invoicing">
												</div>
												
											</div>
											<div class="card-footer">
												<button type="submit" class="btn btn-sm btn-primary float-right">Next</button>
											</div>
										</div>
									</div>
									<!-- Company Setup Tab ends -->
                                </div>
								
                                <div class="tab-pane" id="admins" role="tabpanel">
								
									<div class="col-sm-12 nopadding">
										<div class="card">
											<div class="card-block">
												<a class="btn btn-outline-primary mb-2 float-right" href="#add-admin"><i class="icon-plus"></i> Add company admin</a>
												<!-- <a class="btn btn-outline-primary mb-2 float-right mx-2" href="#"><i class="icon-check"></i> Assign me</a> -->
												<table class="table table-bordered table-striped"  data-toggle="table">
													<thead>
														<tr>
															<th>Name</th>
															<th data-breakpoints="xs">Address</th>
															<th data-breakpoints="xs sm">Contact No.</th>
															<th data-breakpoints="xs sm">Email</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Michael Erhardt</td>
															<td>Jarmers Plads 15, 1551 Copenhagen V</td>
															<td>43 23 43 03</td>
															<td>michael.erhardt@domain.dk</td>
															<td class="text-center">
																<div class="dropdown">
																	<i class="icon-options-vertical"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
																	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																		<a class="dropdown-item" href="#">Deactivate user</a>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td>Daniel Odvig</td>
															<td>Jarmers Plads 55, 1551 Copenhagen V</td>
															<td>43 99 51 22</td>
															<td>daniel.odvig@domain.dk</td>
															<td class="text-center">
																<div class="dropdown">
																	<i class="icon-options-vertical"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
																	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																		<a class="dropdown-item" href="#">Deactivate user</a>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td>Tina Møller</td>
															<td>Vesterbrogade 12, 1620 Copenhagen V</td>
															<td>43 10 88 77</td>
															<td>tina.møller@domain.dk</td>
															<td class="text-center">
																<div class="dropdown">
																	<i class="icon-options-vertical"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
																	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																		<a class="dropdown-item" href="#">Deactivate user</a>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<nav>
													<ul class="pagination">
														<li class="page-item disabled"><a class="page-link" href="#">Prev</a>
														</li>
														<li class="page-item active">
															<a class="page-link" href="#">1</a>
														</li>
														<li class="page-item disabled"><a class="page-link" href="#">Next</a>
														</li>
													</ul>
												</nav>
											</div>
											<div class="card-footer">
												<button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
											</div>
										</div>
									</div>
									
                                </div> 
								 
                            </div>
							<!-- Wizard tabs ends -->
                        </div>
                    </div>
                </div>     
	</div>
    <!-- /.conainer -->
	
	<!-- Add/Edit Modal start -->
	<div class="remodal" data-remodal-id="add-admin" role="dialog" aria-labelledby="add-admin">
	  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
	  <div class="remodal-header">
			<div class="card-block"><h1>Add company admin</h1></div>
	  </div>
	  <div class="remodal-content">
			
			<!-- Opening hours Tab -->
					<div class="card-block">						
						<div class="col-sm-12 nopadding">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" placeholder="Enter full name">
							</div>
							
							<div class="form-group">
								<label>Address</label>
								<input type="text" class="form-control" placeholder="Enter full address">
							</div>
							
							<div class="form-group">
								<label>Contact No.</label>
								<input type="text" class="form-control" placeholder="Enter contact number">
							</div>
							
							<div class="form-group">
								<label>Email</label>
								<input type="text" class="form-control" placeholder="Enter email address">
							</div>
							
							<div class="form-group">
								<label>Expertise</label>
								<select class="form-control">
									<option selected disabled>Choose expertise</option>
									<option>Human Resource</option>
									<option>Account & Finance</option>
									<option>Information Technology</option>
									<option>Business Management</option>
								</select>
							</div>
							
						</div>
						
					</div>
				
			<!-- Opening Hours Tab ends -->
			
	  </div>
	  
	  <div class="remodal-footer">
		<div class="card-block">
			<button data-remodal-action="confirm" class="btn btn-primary">Save</button>
		</div>
	  </div>
	  
	</div>
	<!-- Add/Edit Modal End -->
    
{% endblock %}

