<ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Court Duration</li>
</ol>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-sm-12">
              <!-- Shops Details -->
              <div class="card">
                <div class="card-header">
                  <strong>Courts Duration List</strong>
                  <a href="/courts/create" class="btn btn-primary float-right">
                    <i class="icon-plus"></i> Add new court duration</a>
                </div>
                <div class="card-block">
                  <table class="table table-bordered table-striped " data-toggle="table">
                      <thead>
                          <tr>
                            <th>
                                    Number
                            </th>
                            <th>
                                    Court Name
                            </th>
                            <th data-breakpoints="xs">
                                    Duration Start
                            </th>
                            <th data-breakpoints="xs sm">
                                    Duration End
                            </th>
                      
                       
                            <th>Action</th>
                          </tr>
                        </thead>
                    <tbody>
                        <tr *ngFor="let item of courtsList; let i = index">
                            <td>{{i +1}}</td>
                        <td>{{item.Court_Name}}</td>
                        <td>{{item.Court_Details}}</td>
        
                        <td>Cricket</td>
                        <td class="text-center">
                          <a href="">
                            <i class="icon-eye" title="View details"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav class="table-pagination">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Prev</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                    <div class="result-summary">
                      <span id="current-start">1</span> to
                      <span id="current-end">3</span> of
                      <span id="total-result">3</span>results.</div>
                  </nav>
                </div>
                <!--  -->
              </div>
            </div>
            <!-- Shops Details ends -->
            <!--  -->
          </div>
        </div>
      </div>