
<style>
    .my-pagination /deep/ .ngx-pagination .current {
      background: red;
    }
  </style>

<ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Court Duration</li>
</ol>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-sm-12">
              <!-- Shops Details -->
              <div class="card">
                <div class="card-header">
                  <strong>Courts Slots List</strong>
                   
                    <div class="form-group input-group float-right text-input-wrapper" style="width:20%;">
                        <input class="form-control search-field ng-pristine ng-untouched ng-valid ng-empty" type="text" name="search" [(ngModel)]="filter"  placeholder="Search Slot"> 
                    </div>     

                </div>

                <div class="card-block">
                  <table class="table table-bordered table-striped " data-toggle="table">
                      <thead>
                          <tr>
                            <th >
                                    Number
                            </th>
                            <th (click)="sort('CourtName')">
                                    Court Name
                                    <span class="glyphicon sort-icon" *ngIf="key =='CourtName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                          </th>
                            <th (click)="sort('Slot_StartTime')">
                                    Slot StartTime
                            </th>
                            <th data-breakpoints="xs" (click)="sort('Slot_EndTime')">
                                    Slot EndTime
                            </th>
                            <th data-breakpoints="xs sm" (click)="sort('SportsName')">
                                    Sports Name
                            </th>
                            <th>Action</th>
                          </tr>
                        </thead>
                    <tbody>
                        <tr *ngFor="let item of slotList | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td>{{i +1}}</td>
                        <td>{{item.CourtName}}</td>
                        
                        <td>{{item.Slot_StartTime}}</td>
                        <td>{{item.Slot_EndTime}}</td>
                        <td>{{item.SportsName}}</td>
                        <td class="text-center">
                          <a href="">
                            <i class="icon-eye" title="View details"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>

                  </table>
                  <nav class="table-pagination">
                    <ul class="pagination">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      <!-- <li class="page-item disabled">
                        <a class="page-link" href="#">Prev</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                      </li> -->
                    </ul>
                    <div class="result-summary">
                      <span id="current-start">1</span> to
                      <span id="current-end">3</span> of
                      <span id="total-result">3</span>results.</div>
                  </nav>
                </div>
                <!--  -->
              </div>
            </div>
            <!-- Shops Details ends -->
            <!--  -->
          </div>
        </div>
      </div>