        <!-- Breadcrumb -->
        <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                  <a href="/sports">Court Duration</a>
                </li>
                <li class="breadcrumb-item active">Add new court duration</li>
              </ol>
              <div class="container-fluid">
                <div class="animated fadeIn">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="tab-content">
                        <div class="tab-pane active" id="company" role="tabpanel">
                          <div class="col-sm-12 nopadding">
                            <div class="card">
                              <div class="card-block col-md-6">
                                <form id="wrapped">
                                    <div class="form-group">
                                    <label for="cvr">Select Sports</label>
                                    <div class="input-group">
                                        <input type="text"  formControlName="Sport_Name" id="Sport_Name" placeholder="Enter Sports Name" class="form-control" >  
                                        <!-- <select class="form-control" formControlName="SportsId">
                                                <option value="" disabled>Choose your sports</option>
                                                <option *ngFor="let sports of sportList" [ngValue]="sports.Sport_ID">{{sports.Sport_Name}}</option>
                                             </select>                              -->
                                    </div>
                                    <!-- <small class="form-text text-muted text-danger">The CVR number is not correct. Please try again!</small> -->
                                    </div>
                                    <div class="form-group">
                                    <label for="chain-name">Select Court</label>
                                    <input type="text" class="form-control"  formControlName="FK_CourtId" id="FK_CourtId" placeholder="Enter Sports Details"  > 
                                    </div>
                                    <div class="form-group">
                                    <label for="chain-address">Duration Start Date</label>
                                    <input type="date" class="form-control"  formControlName="StartDate" id="StartDate" placeholder="Enter Sports Description" > 
                                    </div>
                                    <div class="form-group">
                                            <label for="chain-address">Duration End Date</label>
                                            <input type="date" class="form-control"  formControlName="EndDate" id="EndDate" placeholder="Enter Sports Description" > 
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" (click)="submitForm()" class="btn btn-sm btn-primary float-right">Save</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
    
                      </div>
                      <!-- Wizard tabs ends -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.conainer -->