<div class="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item">
                  <a class="nav-link" href="admin-chains.html"><i class="icon-link"></i>Chains</a>
			</li>
			<li class="nav-item">
                  <a class="nav-link" href="admin-companies.html"><i class="icon-briefcase"></i> Companies</a>
			</li>
			<li class="nav-item">
                  <a class="nav-link" href="admin-shops.html"><i class="icon-basket-loaded"></i> Shops</a>
			</li>   
			<li class="nav-item">
                  <a class="nav-link" href="admin-users.html"><i class="icon-people"></i> Users</a>
			</li> 
			<!-- <li class="nav-item">
                  <a class="nav-link" href="admin-reports.html"><i class="icon-docs"></i> Reports</a>
			</li> 	 -->		
		</ul>	
		<ul class="nav d-md-none">
			<li class="nav-item">
				<a class="nav-link" href="login.html"><i class="icon-logout"></i> Logout</a>
			</li>
		</ul>
	</nav>
</div>