<ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Chains</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-sm-12">
              <!-- Shops Details -->
              <div class="card">
                <div class="card-header">
                  <strong>Chains</strong>
                  <small class="text-muted mx-2">[01 filter applied]</small>
                  <a href="admin-chain-add.html" class="btn btn-primary float-right">
                    <i class="icon-plus"></i> Add new chain</a>
                </div>
                <div class="card-block">
                  <table class="table table-bordered table-striped " data-toggle="table">
                    <thead>
                      <tr>
                        <th>
                          <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter active"></i> CVR number</a>
                            <ul class="dropdown-menu filter">
                              <li class="dropdown-item">
                                <a href="#add-admin">
                                  <i class="fa fa-sort-amount-asc"></i> Sort ascending</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="#">
                                  <i class="fa fa-sort-amount-desc"></i> Sort descending</a>
                              </li>
                              <li class="dropdown-item disabled">
                                <a href="#add-admin">
                                  <i class="icon-ban"></i> Clear filters</a>
                              </li>
                              <li class="dropdown-item">
                                <label>Search</label>
                                <div class="input-group form-group mb-0">
                                  <input type="text" class="form-control">
                                  <button class="input-group-addon">
                                    <i class="icon-magnifier"></i>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </th>
                        <th>
                          <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter"></i> Chain name
                              <i class="fa fa-sort-desc"></i>
                            </a>
                            <ul class="dropdown-menu filter">
                              <li class="dropdown-item">
                                <a href="#add-admin">
                                  <i class="fa fa-sort-amount-asc"></i> Sort ascending</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="#">
                                  <i class="fa fa-sort-amount-desc"></i> Sort descending</a>
                              </li>
                              <li class="dropdown-item disabled">
                                <a href="#add-admin">
                                  <i class="icon-ban"></i> Clear filters</a>
                              </li>
                              <li class="dropdown-item">
                                <label>Search</label>
                                <div class="input-group form-group mb-0">
                                  <input type="text" class="form-control">
                                  <button class="input-group-addon">
                                    <i class="icon-magnifier"></i>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </th>
                        <th data-breakpoints="xs">
                          <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter"></i> Address</a>
                            <ul class="dropdown-menu filter">
                              <li class="dropdown-item">
                                <a href="#add-admin">
                                  <i class="fa fa-sort-amount-asc"></i> Sort ascending</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="#">
                                  <i class="fa fa-sort-amount-desc"></i> Sort descending</a>
                              </li>
                              <li class="dropdown-item disabled">
                                <a href="#add-admin">
                                  <i class="icon-ban"></i> Clear filters</a>
                              </li>
                              <li class="dropdown-item">
                                <label>Search</label>
                                <div class="input-group form-group mb-0">
                                  <input type="text" class="form-control">
                                  <button class="input-group-addon">
                                    <i class="icon-magnifier"></i>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </th>
                        <th data-breakpoints="xs sm">
                          <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter"></i> Companies</a>
                            <ul class="dropdown-menu filter">
                              <li class="dropdown-item">
                                <a href="#add-admin">
                                  <i class="fa fa-sort-amount-asc"></i> Sort ascending</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="#">
                                  <i class="fa fa-sort-amount-desc"></i> Sort descending</a>
                              </li>
                            </ul>
                          </div>
                        </th>
                        <th data-breakpoints="xs sm">
                          <div class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-filter"></i> Shops</a>
                            <ul class="dropdown-menu filter">
                              <li class="dropdown-item">
                                <a href="#add-admin">
                                  <i class="fa fa-sort-amount-asc"></i> Sort ascending</a>
                              </li>
                              <li class="dropdown-item">
                                <a href="#">
                                  <i class="fa fa-sort-amount-desc"></i> Sort descending</a>
                              </li>
                            </ul>
                          </div>
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="disabled">
                        <td>26259495</td>
                        <td>Coop amba</td>
                        <td>Mimersvej 1, 4600, Køge</td>
                        <td>01</td>
                        <td>81</td>
                        <td class="text-center">
                          <a href="admin-chain-view.html">
                            <i class="icon-eye" title="View details"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>862500952 </td>
                        <td>Dagrofa</td>
                        <td>Mimersvej 1, 4600, Køge</td>
                        <td>01</td>
                        <td>120</td>
                        <td class="text-center">
                          <a href="admin-chain-view.html">
                            <i class="icon-eye" title="View details"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>35954716</td>
                        <td>Dansk Supermarked A/S</td>
                        <td>Mimersvej 1, 4600, Køge</td>
                        <td>02</td>
                        <td>877</td>
                        <td class="text-center">
                          <a href="admin-chain-view.html">
                            <i class="icon-eye" title="View details"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav class="table-pagination">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Prev</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                    <div class="result-summary">
                      <span id="current-start">1</span> to
                      <span id="current-end">3</span> of
                      <span id="total-result">3</span>results.</div>
                  </nav>
                </div>
                <!--  -->
              </div>
            </div>
            <!-- Shops Details ends -->
            <!--  -->
          </div>
        </div>
      </div>