<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Courts</li>
        <li class="breadcrumb-item active">{{viewCourts.CourtName}}</li>

    </ol>

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-sm-12 grid-view">
                    
                    <!-- Company Setup Tab -->
                    <div class="card card-lg">
                        <div class="card-header">
                            <strong>Court Information</strong>
                            <a href="courts/edit/{{viewCourts.Court_ID}}" class="btn btn-outline-primary float-right">
                                <i class="icon-pencil"></i> Edit Courts Info
                            </a>
                        </div>
                        <div class="card-block row">
                            <div class="form-group col-3">
                                <label for="cvr">Court Name</label>
                                <h4>{{viewCourts.Court_Name}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Sports Name</label>
                                <h4>{{viewCourts.SportName}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Template Name</label>
                                <h4>{{viewCourts.TemplateName}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court Description</label>
                                <h4>{{viewCourts.CourtDescription}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court Created Date</label>
                                <h4>{{viewCourts.Court_Created_Date | date: 'dd/MM/yyyy'}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court Start Date</label>
                                <h4>{{viewCourts.Court_Start_Date | date: 'dd/MM/yyyy'}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court End Date</label>
                                <h4>{{viewCourts.Court_End_Date | date: 'dd/MM/yyyy'}}</h4>
                            </div>
                             <div class="form-group col-3">
                                <label for="company">Court Time Start</label>
                                <h4>{{viewCourts.StartTime}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court Time End</label>
                                <h4>{{viewCourts.EndTime}}</h4>
                            </div>
                            <div class="form-group col-3">
                                <label for="company">Court Time Slot</label>
                                <h4>{{viewCourts.TimeSlot}} Minutes</h4>
                            </div>
                



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




